body {
    background: #F2F2F2;
    color: #000;
}

body.dark-theme {
    background-color: rgba(0, 0, 0, 0.85);
}

body.dark-theme a, body.dark-theme p, body.dark-theme h2, body.dark-theme label, body.dark-theme h3 {
    color: #ffffff;
}

body.dark-theme .login {
    background-color: #000000;
}

body.dark-theme form {
    background-color: rgba(0, 0, 0, 0.51);
}
